* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Calibri, sans-serif;
    height: 100vh;
}

main {
    text-align: center;
    padding: 1em;
}

main h1 {
    font-size: 3em;
    padding-bottom: .5em;
}

main p {
    font-size: 1.3em;
}

.pack img {
    border-radius: 6px;
    width: 25em;
    padding-bottom: 2em;
}